<h1 mat-dialog-title>Edit entry form</h1>
<div mat-dialog-content>
  <form [formGroup]="projectForm">
    <mat-form-field appearance="outline">
      <mat-label>Project name</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Project start</mat-label>
      <input formControlName="start" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Project end</mat-label>
      <input formControlName="end" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Project duration</mat-label>
      <input formControlName="duration" matInput placeholder="Placeholder" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
  <button mat-raised-button color="primary" (click)="updateEntry()">Update</button>
</div>
